.outer-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.home-wrapper {
  width: 275px;
}

.home-wrapper h3 {
  font-size: 32px;
  letter-spacing: -4px;
  font-family: ArgentPixelItalic;
  margin-top: 10px;
}

.home-wrapper h3:hover {
  opacity: 0.5
}

.arrow {
  font-family: ArgentPixel;
}
.menu-option {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

button:active {
  opacity:0.5;
}

.confirm-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  flex-direction: column;
  gap:25px 0;
}

.confirm-box {
  border: 1px solid #d1c142;
  background-color: black;
  width: 300px;
  padding: 10px;
  text-align: center;
}

.confirm-box p {
  color: #d1c142;
}